html, body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    height: 100%;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Header Styling */
header {
    flex: 1;
    border: 1px solid burlywood;
}

.logo {
    float: left;
    font-family: sans-serif;
    font-size: 1.5em;
}

nav {
    flex: 1;
    border: 1px solid burlywood;
    padding: 0.5em;
}

.nav > li {
    display: inline-block;
    padding: 0 0.5em;
}

.side-nav {
    transform: rotate(-90deg);
}

/* End Header Styling */
main {
    flex: 19;
    border: 1px solid burlywood;
    padding: 0.5em;
}

#fc {
    flex: 18;
    display: flex;
    flex-direction: row; /* alternative is column */
}

section {
    flex: 8;
    padding: 0.5em;
}

footer {
    flex: 1;
    border: 1px solid burlywood;
    padding: 1em;
}

#app {
    background-color: beige;
    color: red;
}
